################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TU/bin/Debug/netcoreapp2.1
/TU/obj
/Test/obj/Debug
/Test/bin/Debug
/.vs/Test
/.vs/algo/v15
/Test/obj/Release
/Algo/bin/Debug
/Algo/obj
/.vs/algo/v16
/.vs/algo/DesignTimeBuild
